.wrapper{
 
}

.services-wrapper{
    border-radius: 50%;
    font-size: 2rem;
    /* position: absolute; */
    color:#38BDF8;
    border:#052330 3px solid;
    background-image: radial-gradient(180px, #38BDF8, transparent 90%);
    animation: rotation 10s linear 1s infinite;
}

@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}


.services-wrapper div:nth-child(1){
    position:absolute;
    left:40%;
    top:-30px;
    z-index: 50;
}

.services-wrapper div:nth-child(2){
    position:absolute;
    bottom: -20px;
    left:40%
}

.services-wrapper div:nth-child(3){
    position:absolute;
    top:50%;
    left:-20px;
}

.services-wrapper div:nth-child(4){
    position:absolute;
    left:93%;
    top:40%;
}