ul li{
    position: relative;
}

ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background: #38BDF8;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 35px;
    transition: 0.2s;
}

ul li:hover::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #38BDF8;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 35px;
}